//BOOTSTRAP VUE
//@import 'node_modules/bootstrap/scss/bootstrap.scss';
//@import 'node_modules/bootstrap-vue/src/index.scss';

// Variables
@import 'variables';

@import 'theme.css';

@import "~filepond/dist/filepond.min.css";
@import "~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";
@import '~filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css';

//vue multiselect3
@import "@vueform/multiselect/themes/default.css";
// Define variable defaults BOOTSTRAP VUE
//$body-bg: #000;
//$body-color: #111;

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.main-content {
    padding: 75px 20px 20px !important;
}

.dropdown-menu-c {
    width: 200px !important;
}

//DESIGN cahgenss

.sidebar-menu {
    //background-color: #0b4497;
    --tw-bg-opacity: 1;
    // //background-color: #4d3e30;
    // //background-color: #315435;
    background-color: rgba(47, 54, 95, var(--tw-bg-opacity));
    //background-color: rgba(77, 62, 48, var(--tw-bg-opacity));
    //background-color: #555555;
}

.sidebar-menu .title, .sidebar-menu .icon-holder {
    //color: #ffffff !important;
    //background-color: #cd3706;
    --tw-text-opacity: 1;
    // //color: #ffdc78;
    // //color: #bff2c5;
    color: rgba(178, 183, 255, var(--tw-text-opacity));
}

//HR
hr{
    color: #FFFFFF !important;
    background-color: #FFFFFF !important;
    height: 1px;
    border: none;
}
.dropdown-menu>li>a {
    --tw-text-opacity: 1;
    //color: rgb(236, 237, 194);
    color: rgba(0, 50, 50, var(--tw-text-opacity)) !important;
    //color: rgba(178, 183, 255, var(--tw-text-opacity));
}

.dropdown-menu>li>a.title:hover {
    //color: #fff !important;
    color: rgb(235, 89, 10) !important;
}

.sidebar-link>li>ul>li>a {
    color: #9BFFFD !important;
    //--tw-text-opacity: 1;
    //color: rgb(236, 237, 194, var(--tw-text-opacity)) !important;
    //color: rgba(178, 183, 255, var(--tw-text-opacity)) !important;
}

.sidebar-menu>li>a{
    font-weight: unset !important;
}

.sidebar-menu .title:hover {
    color: #fff !important;
}

.sidebar-menu .active .title {
    //color: #fff !important;
    color: #FFF !important;
    //background-color: #cd3706;
    font-weight: 500 !important;
}
.tab .active{
    color: #fff;
    background-color: #6c757d;
}

.sidebar-logo {
    --tw-bg-opacity: 1;
    background-color: rgb(9, 1, 55);
    font-weight: bold !important;
    font-family: Arial Black !important;
    font-style: italic;
    //background-color: rgba(25, 30, 56, var(--tw-bg-opacity));
    //background-color: #022251;
    //background-color: rgba(25, 30, 56, var(--tw-bg-opacity));
}

.arrow {
    color: #fff;
}

.select2-container .select2-selection--single {
    height: 33px !important;
}

.icon:hover{
    cursor: pointer;
    filter: brightness(85%);
}

//END OF DESIGN CHANGES
.action-btn {
    color: #020202 !important;
    border: unset !important;
    background-color: unset !important;
    border-radius: 50% !important;
    padding: 0.1rem 0.5rem !important;
}

.action-btn:hover {
    background-color: #dce4eb !important;
}
.action-btn:focus {
     background-color: #dce4eb !important;
     box-shadow: unset !important;
}

.action-dropdown {
    padding: 0.1rem 0 !important;
    min-width: 8rem;
}

.action-divider {
    margin: 0.1rem 0 !important;
}

.filepond--wrapper {
    width: 15rem !important;
}


//SIDEBAR LINK HOVER
.sidebar-link :hover {
    //color: rgb(243, 19, 19) !important;
    color: #fff !important;
}

.sidebar-link :active {
    //color: rgb(243, 19, 19) !important;
    color: #fff !important;
}

//TABSTYLE
.tab {
    overflow: hidden;
    border: 1px solid #ccc cv z;
    //background-color: #f1f1f1;
    background-color: #0b4497;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: bold;
    color: rgb(236, 237, 194) !important;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(103, 99, 22);
    color: #f3ec11 !important;
  }

  /* Create an active/current tablink class */
  /*color: #fff;
      background-color: #6c757d;*/
  .tab button.active {
      color: #f6f3f3 !important;
      font-weight: bold;
      background-color: #cd3706;
    }
    .tab button.active:hover {
        background-color: rgb(243, 102, 7);
        color: #f3ec11 !important;
      }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(157, 157, 157);
    border-top: none;
  }

  @media
        only screen
        and (max-width: 760px), (min-device-width: 768px)
        and (max-device-width: 1024px)  {

        table .tabel{
            white-space: nowrap;
        }

        .hide_for_mobile{
            display: none;
        }
        }
